.dashboard_sec {
    .add-btn {
        justify-content: flex-start;
        margin-bottom: 90px;

        @include mq(max, 991px) {
            margin-bottom: 30px;
        }
    }
}

.boxes {
    display: flex;
    align-items: center;
    gap: 35px;

    @include mq(max, 550px) {
        flex-direction: column;
        gap: 0;
    }

    .box {
        width: 133px;
        min-height: 124px;
        border: 1px solid $footer;
        @include border-radius(4px);
        text-align: center;
        padding: 20px 15px 12.64px;
        margin-bottom: 30px;

        @include mq(max, 550px) {
            width: 100%;
            margin-bottom: 15px;
        }

        .number {
            font-size: 39.38px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: $turquoise;
            line-height: 1;
            margin-bottom: 10px;
            margin-top: -5px;
        }

        p {
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: $main;
            text-transform: uppercase;
        }
    }
}

.packages {
    display: flex;
    gap: 45px;
    margin-top: 62px;

    @include mq(max, 1366px) {
        margin-bottom: 15px;
        gap: 15px;
    }

    @include mq(max, 991px) {
        flex-wrap: wrap;
    }

    .box {
        position: relative;
        width: 274px;
        min-height: 370px;
        text-align: center;
        border: 1px solid $border;
        @include border-radius(6px);
        padding: 34px 30px;

        @include mq(max, 991px) {
            width: calc(50% - 30px);
            padding: 25px;
        }

        @include mq(max, 550px) {
            width: 100%;
            padding: 15px
        }

        .title {
            font-size: 30px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: $turquoise;
            margin-bottom: 15px;
        }

        h3,
        h5 {
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: $main;
            margin-bottom: 20px;
            letter-spacing: 0.2px;
        }

        h5 {
            text-transform: uppercase;
        }

        .price {
            position: relative;

            h2 {
                font-size: 70px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                color: $main;
                position: relative;
                display: inline-block;
                margin-bottom: 40px;

                @include mq(max, 1199px) {
                    font-size: 52px;
                }

                @include mq(max, 767px) {
                    font-size: 48px;
                }

                .month {
                    font-size: 12px;
                    text-transform: uppercase;
                    display: block;
                    margin-top: 5px;
                }

                .doller {
                    font-size: 31.48px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    color: $main;
                    position: absolute;
                    left: -15px;
                }

                a {
                    font-size: 17.62px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    color: $main;
                    background-color: transparent;
                    padding: 0;
                    display: block;
                    @include border-radius(0);
                    min-width: auto;
                    position: static;
                    transform: none;
                    margin-top: 40px;

                    &:hover {
                        color: $hover;
                        background-color: transparent;
                    }
                }
            }
        }

        ul {
            text-align: left;
            margin-bottom: 45px;

            li {
                margin-bottom: 6px;
                padding-left: 25px;

                &:before {
                    display: inline-block;
                    transform: rotate(45deg);
                    background-color: transparent;
                    top: 0;
                    width: 10px;
                    height: 15px;
                    border-bottom: 3px solid $turquoise;
                    border-right: 3px solid $turquoise;
                }
            }
        }

        a {
            font-size: 17.62px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: $white;
            background-color: $yellow;
            padding: 10px 15px;
            display: inline-block;
            @include border-radius(6px);
            min-width: 165px;
            position: absolute;
            bottom: 34px;
            left: 50%;
            transform: translateX(-50%);

            @include mq(max, 768px) {
                position: static;
                transform: none;
                left: auot;
                bottom: auto;
            }

            &:hover {
                background-color: $main;
                color: $white;
            }
        }

        &.active {
            @include border-radius(6px);
            border-width: 8px;
            border-image-slice: 1;
            border-image-source: linear-gradient(to top, $main, $turquoise);
            padding: 27px 30px;

            a {
                bottom: 27px;
            }

            @include mq(max, 991px) {
                padding: 25px;
            }
    
            @include mq(max, 550px) {
                padding: 15px
            }
        }
    }

    &.min_height {
        .box {
            min-height: 534px;
        }
    }
}

// mb-95
.mb-95 {
    margin-bottom: 95px;

    @include mq(max, 991px) {
        margin-bottom: 30px;
    }
}
