//==== footer start ====//
.footer {
    background-color: $footer;

    &-menu {
        text-align: center;
        padding: 10px 15px;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                font-size: 12px;
                color: $white;
                margin: 0 8px;
                font-weight: bold;
                font-family: Arial, sans-serif;

                a {
                    color: inherit;
                    font-size: inherit;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

//==== footer start ====//
