//==== header start ====//
.header {
    @include full-width;
    background-color: $turquoise;
    padding: 33px 0;

    @include mq(max, 767px) {
        padding: 15px 0;
    }
}

// top-head
.top-head {
    position: relative;

    .logo {
        margin-bottom: 30px;

        @include mq(max, 767px) {
            margin-bottom: 15px;
        }

        a {
            display: block;

            img {
                height: 25px;
                width: auto;

                @include mq(max, 767px){
                    height: auto;
                }

                &.logo{
                    height: auto;
                }
            }
        }
    }

    @include mq(max, 767px) {
        .row {
            .col-sm-3 {
                width: 124px;
            }

            .col-sm-9 {
                width: calc(100% - 124px);
            }
        }
    }
}

// user-info
.user-info {
    position: relative;
    margin-bottom: 30px;

    @include mq(max, 767px) {
        margin-bottom: 15px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;

        li {
            a {
                position: relative;
                color: #666667;
                margin: 0 15px;
                @include transition(0.5s);
                font-size: 24px;

                @include mq(max, 767px) {
                    font-size: 24px;
                }

                @include mq(max, 425px) {
                    margin: 0 10px;
                }

                &.user {
                    width: 25px;
                    height: 25px;
                    @include border-radius(100%);
                    background-color: $hover;
                    @include flex-center;
                    color: $white;
                    font-size: 16px;

                    @include mq(max, 767px) {
                        font-size: 15px;
                    }

                    &:hover {
                        color: $hover;
                        background-color: $white;
                    }

                    &-name {
                        font-size: 14px;
                        color: lighten($black, 26%);
                        margin: 0;

                        @include mq(max, 328px) {
                            display: none;
                        }
        

                        &:hover {
                            color: lighten($black, 20%);
                        }
                    }
                }

                &:hover {
                    color: $hover;
                }

                i {
                }

                .notification {
                    @include position(absolute, 0, 0);
                    top: 1px;
                    right: -6px;
                    background: $red;
                    width: 14px;
                    height: 14px;
                    @include flex-center;
                    font-size: 11px;
                    font-family: Arial, sans-serif;
                    font-weight: bold;
                    @include border-radius(100%);
                    color: $white;
                }
            }
        }
    }
}

@import "./menu";
//==== header end ====//
