header,
footer,
section,
main {
    @include full-width;
}

// main-wapr
.main-wapr {
    display: flex;
    flex-direction: row;

    @include mq(max, 1365px) {
        flex-direction: column;
    }
}

// rightSection
.rightSection {
    background-color: $white;
    width: 100%;

    // pl-375px
    .pl-375px {
        padding-left: 375px;
        padding-right: 90px;

        @include mq(max, 1440px) {
            padding-left: 45px;
            padding-right: 45px;
        }

        @include mq(max, 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// img-bottom-right
.img-bottom-right {
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 0;
    margin-top: -100px;

    @include mq(max, 800px){
        margin-top: 0;
    }

    img {
        width: auto;
    }
}

.body-bg {
    background-image: url(../img/body-bg.jpg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: $body;

    header {
        background-color: transparent;
    }
}

.mb-135 {
    margin-bottom: 135px;

    @include mq(max, 767px) {
        margin-bottom: 35px;
    }
}

@import "./aside";
@import "./banner";
@import "./breadcream";
@import "./pagination";
@import "./table";
@import "./form";
@import "./dashboard";
@import "./modal";
