header,
footer,
section,
main {
    @include full-width;
}

// main-wapr
.main-wapr {
    display: flex;
    flex-direction: row;

    @include mq(max, 1365px) {
        flex-direction: column;
    }
}

// rightSection
.rightSection {
    background-color: $white;
    width: calc(100% - 345px);

    @include mq(max, 1365px) {
        width: 100%;
    }
}

.body-bg {
    background-image: url(../img/body-bg.jpg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: $body;

    header {
        background-color: transparent;
    }
}

.mb-135 {
    margin-bottom: 135px;
}

@import "./aside";
@import "./banner";
@import "./breadcream";
@import "./pagination";
@import "./table";
@import "./form";
@import "./modal";