//==== Menu start ====//
nav {
    position: relative;
}

// menu
.menu {
    position: relative;
    padding: 0;

    .navbar {
        &-toggler {
            position: relative;
            outline: none;
            box-shadow: none;

            &:hover,
            &:active {
                outline: none;
                box-shadow: none;
            }

            i.fa-bars {
                color: $main;
            }
        }

        &-collapse {
            justify-content: space-between;
            align-items: center;

            ul {
                font-size: 0;

                @include mq(min, 1441px) {
                    padding-left: 330px;
                }

                @include mq(max, 767px) {
                    position: absolute;
                    background: #27c9dd;
                    width: 100%;
                    left: 0;
                    z-index: 9;
                    padding: 10px 0;
                    text-align: center;
                }

                li {
                    list-style: none;

                    a {
                        font-size: 25px;
                        color: $main;
                        display: block;
                        padding: 0 15px;

                        @include mq(min, 1366px) {
                            padding: 0 44px;
                        }

                        @include mq(max, 767px) {
                            font-size: 18px;
                            border-bottom: 1px dashed #0dafc3;
                            padding: 5px;
                        }

                        &.active,
                        &:hover {
                            color: $white;
                        }
                    }

                    &:first-child {
                        a {
                            padding-left: 0;

                            @include mq(max, 767px) {
                                padding-left: 15px;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            padding-right: 0;

                            @include mq(max, 767px) {
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }

        &-right {
            padding: 0;
            margin: 0;

            @include mq(max, 767px) {
                position: absolute;
                right: 15px;
            }

            li {
                font-size: 16px;
                font-family: Arial, sans-serif;
                font-weight: normal;
                color: $white;
                display: flex;
                align-items: center;

                @include mq(max, 360px) {
                    font-size: 15px;
                  }

                a {
                    font-size: 16px;
                    font-weight: bold;
                    color: $white;
                    padding: 0;
                    padding-left: 5px;

                    @include mq(max, 360px) {
                        font-size: 15px;
                      }

                    &:hover {
                        color: $main;
                    }
                }
            }
        }
    }
}
//==== Menu end ====//
