//==== RegisterForm start ====//
.register-sec {
    padding-top: 123px;

    @include mq(max, 1440px) {
        padding-top: 30px;
    }

    h3 {
        font-size: 40.58px;
        color: $white;
        text-align: center;
        margin-bottom: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    p {
        font-size: 17px;
        color: $white;
        text-align: center;
        margin-bottom: 65px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .form {
        .form-group {
            margin-bottom: 40px;

            input,
            .custom-select {
                font-size: 20px;
                font-family: Arial, sans-serif;
                font-weight: normal;
                color: $main;
                border: none;

                &::placeholder {
                    color: $main;
                }
            }

            .custom-select {
                position: relative;

                &::after {
                    border-color: #d1d8dd;
                    height: 12px;
                    right: 23px;
                    width: 12px;
                }

                span {
                    &.current {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                ul.list {
                    width: 100%;

                    li {
                        font-size: 18px;
                        font-family: Arial, sans-serif;
                        font-weight: normal;
                        color: $main;

                        &:hover{
                            background-color: lighten($body, 37%);
                        }
                    }
                }
            }

            &.form-check {
                padding-left: 0;

                .form-check-input {
                    margin-left: 8px;
                    margin-top: 4px;
                }

                label {
                    font-size: 15px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    color: $white;

                    input {
                        padding: 0;
                        width: 14px;
                        height: 14px;
                        border-radius: 0;
                        margin-right: 20px;
                    }

                    &.form-check-label {
                        margin-bottom: 40px;
                    }
                }
            }

            .iti {
                width: 100%;

                .iti__selected-flag {
                    padding: 0 15px;
                }

                input#mobile_code {
                    padding-left: 110px !important;
                }
            }
        }
    }

    .btn-custom {
        font-size: 18.58px;
        padding: 7.59px 44px;
        @include border-radius(6px);
    }
}

.password-eye {
    position: relative;

    .toggle-password {
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #989898;
    }
}

//==== RegisterForm end ====//
