//Color-Variable
$white: #fff;
$black: #000;

$turquoise : #38d8ec;
$hover : #1c86ab;
$main: #05506d;
$yellow: #ea8f0c;
$red: #ff0000;
$footer: #343434;
$pg_color: #474747;
$border: #a6a6a6;
$btn: #9aa2af;


$fontPath: '../fonts';
